# Ignorar carpetas de compilación
**/target/
**/build/

# Archivos de log
*.log

# Archivos de configuración
.idea/
*.iml
.mvn/
mvnw
mvnw.cmd

# Temporales
*.swp
*.tmp
*~
.DS_Store
Thumbs.db

# Archivos binarios
*.class
*.jar
